*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color: blue;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    background: linear-gradient(-80deg, #6e1bea87, #0754ad90, #d35ba7be, #7112948f);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}