h1 {
  color: orange;
}


#navbar-menu{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    background: linear-gradient(-80deg, #6e1bea87, #0754ad90, #d35ba7be, #7112948f);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}


#content{
    background-image: url("artboard 4-04.png");
    width: 1200px;  
    height: 500px;  
    background-repeat: no-repeat;

}


header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
  }
  

